Dear Accounts,

Contract rates between client $client_fname $client_lname [client_id:$leads_id] and staff
#for $item in $changes
    $item.fname $item.lname
#end for 
has been updated. 

Please create invoice for the client with new rates and rates effectivity considered TODAY.
