<style> p {margin-top: 1em;} </style>
<div style='font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 1em;'>

<p>Dear $client_name,</p>

<p>
    This email is to follow up on the payment for Invoice Number $order_id sent to you last $added_on_client_tz.
</p>

<p>
    Our records indicate that payment for $currency $currency_sign$total_amount is still not received. If the amount has already been paid, please disregard this notice and get back to us with remittance advice.
</p>

<p>
    None payment of this invoice will temporarily suspend your account with us.
</p>


<p>
    Thank you in advance for your anticipated cooperation in this matter.
</p>

<p>
    <strong>Please note that this is a system generated invoice reminder</strong>. 
Should you have any query regarding the enclosed invoice, please connect with your
<strong>Staffing Consultant</strong> or alternatively email <strong>accounts@remotestaff.com.au</strong>
or call our hotline at <strong>+61(02)8014 9196</strong>
</p>


<pre style="font-size:1em;padding-top:128px;">
-----------------------------------------
Ref doc: $doc_id
-----------------------------------------
</pre>

<div style="font-size: 0.8em; text-align: center;">
    <div>Remote Staff Inc. Think Innovations Pty Ltd</div>
    <div>104 / 529 Old South Head Road, Rose Bay, NSW 2029</div>
    <div>Tel: +61 (02) 8014 9196 press 4 / Fax: 02 8088 7247</div>
    <div>
        <a href="http://www.remotestaff.com.au">http://www.remotestaff.com.au</a>
    </div>
    <div>
        <a href="http://www.remotestaff.net">http://www.remotestaff.net</a>
    </div>
</div>

</div>
